.outer {
  stroke-width: 5;
  stroke: #0A4D50;
  fill: #f5f5f5;
}

.node {
  stroke-width: 5;
  stroke: #0A4D50;
}

.nodelabel {
  font-weight: 400;
  font-family: Inter;
  font-style: normal;
  font-size: 16pt;
  text-anchor: middle;
  dominant-baseline: middle;
  fill: #0A4D50;
}

.link {
  stroke-width: 2;
  stroke: #0A4D50;
}


.node.perpetual {
  fill: #FA765B;
}

.node.inprogress {
  fill: #a461e2;
}

.node.needs-work {
  fill: #50d5dd;
}

.node.completed {
  fill: #6ecc0a;
}

.node.todo {
  fill: #e5e5e5;
}
